<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css"/>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <title>Edunner Gunner</title>
    </head>
    <body>
        <div class="main">
            <h1>
                EDUNNER GUNNER
            </h1>
            <div id="menuButtons">    
                <div id="playButton" onclick="">
                    <span>Play</span>
                </div>
                <div id="multiplayerButton" class="comingSoon">
                    <span>Multiplayer</span>
                </div>
                <!--
                <div id="customizeButton" class="comingSoon">
                    <span>Customize</span>
                </div>
                -->
                <div id="settingsButton">
                    <span>Settings</span>
                </div>
                <div id="quitButton">
                    <span>Quit</span>
                </div>
            </div>
        </div>
        <footer>
            created by Edan Steen
        </footer>
    </body>
</html>